<p-table
  [value]="tableContent()"
  [paginator]="true"
  [rows]="10"
  [lazy]="true"
  (onLazyLoad)="loadData($event)"
  [totalRecords]="collectionCount()"
  [showCurrentPageReport]="true"
  [scrollable]="true"
  [loading]="loading()"
  scrollHeight="flex"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 20]"
  class="[&_.p-datatable_.p-datatable-tbody>tr]:bg-gray-700 [&_.p-datatable_.p-datatable-tbody>tr>td]:border-gray-600"
>
  <ng-template pTemplate="header">
    <tr>
      @for (header of headers(); track header.name) {
        <th>{{ header.label }}</th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      @for (header of headers(); track header.name) {
        <td>{{ row[header.name] }}</td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-refresh"
      styleClass="p-button-text"
      (click)="reloadData()"
    ></p-button>
  </ng-template>
</p-table>
