<p-table
  [value]="tableContent"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [scrollable]="true"
  scrollHeight="flex"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 20]"
  class="[&_.p-datatable_.p-datatable-tbody>tr]:bg-gray-700 [&_.p-datatable_.p-datatable-tbody>tr>td]:border-gray-600"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="w-1/2">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th class="w-1/2">Country <p-sortIcon field="country"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.name }}</td>
      <td>{{ row.country }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text"></p-button>
  </ng-template>
</p-table>
